<div class="col-lg-12">

  <h3>{{title}}</h3>

  <div class="alert alert-success" *ngIf="status == 'success'">
    Sala borrada con éxito.
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    No se ha podido borrar la Sala.
  </div>

  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Nombre</th>
        <th>Aforo</th>
        <th style="width:200px">Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let room of rooms">
      <tr>
        <td>
          {{room.NOMBRE}}
        </td>
        <td>
          {{room.AFORO}}
        </td>
        <td>
          <a [routerLink]="['/home/room/edit', room.ID_SALA]" class="btn btn-primary btn-sm"><span class="octicon octicon-tools"></span> Editar</a>
          <a href="#myModal-{{room.ID_SALA }}" role="button" data-toggle="modal" class="btn btn-danger btn-sm"><span class="octicon octicon-trashcan"></span> Eliminar</a>

          <!-- Modal HTML -->
          <div id="myModal-{{room.ID_SALA}}" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">¿Estás seguro?</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>¿Seguro que quieres eliminar <strong>{{room.NOMBRE}}</strong>?</p>
                  <p class="text-warning"><small>Si borras esta Sala, ya no pertenecerá al sistema y serán borradas todas las dependencias.</small></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  <button type="button" (click)="deleteRoom(room.ID_SALA )" class="btn btn-primary">Borrar</button>
                </div>
              </div>
            </div>
          </div>


        </td>
      </tr>
    </tbody>
  </table>

</div>
