<h3>{{title}}</h3>

<div class="offset-lg-1 col-lg-8 mt-3">
  <div class="alert alert-success" *ngIf="status == 'success'">
    Plan Deportivo creado con éxito.
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Fallo en la creación del Plan Deportivo.
  </div>
  <form #formAdd="ngForm" (ngSubmit)="onSubmit()">
    <p>

      <label>Nombre</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="plan.NOMBRE" class="form-control" required/>
      <span *ngIf="!name.valid && name.touched">
        El nombre es obligatorio
      </span>
    </p>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Gastos de inscripción (€)</label>
        <input type="text" name="gastos" #gastos="ngModel" [(ngModel)]="plan.GASTOS_INSCRIPCION" class="form-control" required/>
      </div>
      <div class="form-group col-md-6">
        <label>Coste mensual (€)</label>
        <input type="text" name="coste" #coste="ngModel" [(ngModel)]="plan.COSTE_MENSUAL" class="form-control" required/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Edad mínima</label>
        <input type="number" name="edad_min" #edad_min="ngModel" [(ngModel)]="plan.EDAD_MIN" class="form-control" required/>
      </div>
      <div class="form-group col-md-6">
        <label>Edad máxima</label>
        <input type="number" name="edad_max" #edad_max="ngModel" [(ngModel)]="plan.EDAD_MAX" class="form-control" required/>
      </div>
    </div>
    <hr />
      <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck1" name="agua" #agua="ngModel" [(ngModel)]="plan.ACCESO_ZONA_ACUATICA">
  <label class="custom-control-label" for="customCheck1">Acceso a zona acuática</label>
</div>

<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="customCheck2" name="finde" #finde="ngModel" [(ngModel)]="plan.SABADOS_Y_DOMINGOS">
<label class="custom-control-label" for="customCheck2">Acceso sabados y domingos</label>
</div>

<br />
    <input type="submit" class="btn btn-success" value="{{title}}" [disabled]="!formAdd.form.valid" />
  </form>
</div>
