<div class="col-lg-12">

  <h3>{{title}}</h3>

  <div class="input-group">
    <button class="btn btn-default" disabled><span class="octicon octicon-search"></span> Actividades del día </button>
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="busqueda">
      <option selected value="0">Todos</option>
      <option value="1">Lunes</option>
      <option value="2">Martes</option>
      <option value="3">Miercoles</option>
      <option value="4">Jueves</option>
      <option value="5">Viernes</option>
      <option value="6">Sábado</option>
      <option value="7">Domingo</option>
    </select>
  </div>

  <br />

  <div class="alert alert-success" *ngIf="status == 'success'">
    Actividad borrada del Horario.
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    No se ha podido borrar la Actividad del Horario.
  </div>

  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Día</th>
        <th>Actividad</th>
        <th>Hora inicio</th>
        <th>Sala</th>
        <th>Técnico</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let schedule of schedules | search: busqueda ">
      <tr>
        <td *ngIf="schedule.DIA_SEMANA == 1">
          Lunes
        </td>
        <td *ngIf="schedule.DIA_SEMANA == 2">
          Martes
        </td>
        <td *ngIf="schedule.DIA_SEMANA == 3">
          Miercoles
        </td>
        <td *ngIf="schedule.DIA_SEMANA == 4">
          Jueves
        </td>
        <td *ngIf="schedule.DIA_SEMANA == 5">
          Viernes
        </td>
        <td *ngIf="schedule.DIA_SEMANA == 6">
          Sábado
        </td>
        <td *ngIf="schedule.DIA_SEMANA == 7">
          Domingo
        </td>
        <td>
          {{schedule.ACTIVIDAD}}
        </td>
        <td>
          {{schedule.HORA_INICIO}}
        </td>
        <td>
          {{schedule.SALA}}
        </td>
        <td>
          {{schedule.TECNICO}}
        </td>
        <td style="width:180px">
          <a href="#myModal-{{schedule.ID_SALA}}{{schedule.DIA_SEMANA}}{{schedule.HORA_INICIO}}" role="button" data-toggle="modal" class="btn btn-danger btn-sm"><span class="octicon octicon-trashcan"></span> Eliminar</a>
          <div id="myModal-{{schedule.ID_SALA}}{{schedule.DIA_SEMANA}}{{schedule.HORA_INICIO}}" class="modal fade">

            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">¿Estás seguro?</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>¿Seguro que quieres eliminar <strong>{{schedule.ACTIVIDAD}}</strong> impartida en <strong>{{schedule.SALA}}</strong> ?</p>
                  <p class="text-warning"><small>Si borras esta configuración, ya no pertenecerá al calendario.</small></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  <button type="button" (click)="deleteConfiguracion(schedule)" class="btn btn-primary">Borrar</button>
                </div>
              </div>
            </div>
          </div>


        </td>
      </tr>
    </tbody>
  </table>

</div>
