<h2>Registrar análisis para {{user.NOMBRE}}</h2>

<form class="col-lg-6 offset-lg-3 mt-5" #analysisProfileForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="alert alert-success" *ngIf="status == 'success'">
    Análisis registrado con éxito.
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Fallo en el registro del Análisis.
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Peso</label>
      <input type="number" class="form-control" placeholder="0.00" name="peso" #peso="ngModel" [(ngModel)]="analysis.PESO" min="0" step="0.01">
    </div>
    <div class="form-group col-md-4">
      <label>Grasa corporal</label>
      <input type="number" class="form-control" placeholder="0.00" name="grasa_corporal" #grasa_corporal="ngModel" [(ngModel)]="analysis.GRASA_CORPORAL" min="0" step="0.01">
    </div>
    <div class="form-group col-md-4">
      <label>Porcentaje de agua</label>
      <input type="number" class="form-control" placeholder="0.00" name="porcentaje_agua" #porcentaje_agua="ngModel" [(ngModel)]="analysis.PORCENTAJE_AGUA" min="0" step="0.01">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Masa ósea</label>
      <input type="number" class="form-control" placeholder="0.00" name="masa_osea" #masa_osea="ngModel" [(ngModel)]="analysis.MASA_OSEA" min="0" step="0.01">
    </div>
    <div class="form-group col-md-4">
      <label>Masa visceral</label>
      <input type="number" class="form-control" placeholder="0.00" name="masa_visceral" #masa_visceral="ngModel" [(ngModel)]="analysis.MASA_VISCERAL" min="0" step="0.01">
    </div>
    <div class="form-group col-md-4">
      <label>Masa muscular</label>
      <input type="number" class="form-control" placeholder="0.00" name="masa_muscular" #masa_muscular="ngModel" [(ngModel)]="analysis.MASA_MUSCULAR" min="0" step="0.01">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Edad metabólica</label>
      <input type="number" class="form-control" name="edad_metabolica" #edad_metabolica="ngModel" [(ngModel)]="analysis.EDAD_METABOLICA" min="0">
    </div>
    <div class="form-group col-md-6">
      <label>IMC</label>
      <input type="number" class="form-control" name="imc" #imc="ngModel" [(ngModel)]="analysis.IMC" step="0.01" min="0">
    </div>

  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!analysisProfileForm.form.valid">Registrar</button>

</form>
