<h2>Modificar {{director.NOMBRE}}</h2>

<form class="col-lg-6 offset-lg-3 mt-5" #directorProfileForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="alert alert-success" *ngIf="status == 'success'">
    Director actualizado con éxito.
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Fallo en la actualización del Director.
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Nombre</label>
      <input type="name" class="form-control" placeholder="Nombre" name="name" #name="ngModel" [(ngModel)]="director.NOMBRE" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Correo electrónico" name="email" #email="ngModel" [(ngModel)]="director.EMAIL" required>
    </div>
    <div class="form-group col-md-6">
      <label>Teléfono de contacto</label>
      <input type="text" class="form-control" placeholder="Número de teléfono" name="telefono" #telefono="ngModel" [(ngModel)]="director.TELEFONO">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Fecha Nacimiento</label>
      <input type="text" class="form-control" name="fecha_nac" #fecha_nac="ngModel" [(ngModel)]="director.FECHA_NACIMIENTO">
    </div>
    <div class="form-group col-md-6">
      <label>Documentación</label>
      <input type="text" class="form-control" name="documentacion" #documentacion="ngModel" [(ngModel)]="director.DOCUMENTACION">
    </div>

  </div>
  <div class="form-group">
    <label>Domicilio</label>
    <input type="text" class="form-control" placeholder="Domicilio" name="domicilio" #domicilio="ngModel" [(ngModel)]="director.DOMICILIO">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Municipio</label>
      <input type="text" class="form-control" name="municipio" #municipio="ngModel" [(ngModel)]="director.MUNICIPIO">
    </div>
    <div class="form-group col-md-6">
      <label>Provincia</label>
      <input type="text" class="form-control" name="provincia" #provincia="ngModel" [(ngModel)]="director.PROVINCIA">
    </div>

  </div>

  <div class="form-group">
    <label>Salario</label>
    <input type="text" class="form-control" name="salario" #salario="ngModel" [(ngModel)]="director.SALARIO">
  </div>

  <div class="form-group">
    <label>Centro Deportivo a asignar</label>
    <select class="form-control" name="centro" [(ngModel)]="director.ID_CENTRO" required>
      <option *ngFor="let center of centers" value="{{center.ID_CENTRO}}">{{center.NOMBRE}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!directorProfileForm.form.valid">Modificar</button>

</form>
