<h2>Detalles de {{activity.NOMBRE}}</h2>

<form class="col-lg-6 offset-lg-3 mt-5" #activityProfileForm="ngForm">

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Nombre</label>
      <input type="text" name="nombre" #nombre="ngModel" placeholder="Nombre de la actividad" [(ngModel)]="activity.NOMBRE" class="form-control" readonly/>
    </div>
    <div class="form-group col-md-6">
      <label>Tipo actividad</label>
      <select class="form-control" name="actividad"  #actividad="ngModel" [(ngModel)]="activity.TIPO_ACTIVIDAD" readonly>
        <option value="acuática">Acuática</option>
        <option value="aeróbica">Aeróbica</option>
        <option value="coreografiada">Coreografiada</option>
        <option value="cuerpo y mente">Cuerpo y Mente</option>
        <option value="infantil">Infantil</option>
        <option value="exterior">Exterior</option>

      </select>
    </div>

  </div>

</form>
