<h3>{{title}}</h3>

<div class="offset-lg-1 col-lg-8 mt-3">
  <div class="alert alert-success" *ngIf="status == 'success'">
    Actividad creada con éxito.
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Fallo en la creación de la Actividad.
  </div>
  <form #formAdd="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-row">
        <div class="form-group col-md-6">
            <label>Nombre</label>
            <input type="text" name="nombre" #nombre="ngModel" placeholder="Nombre de la actividad" [(ngModel)]="activity.NOMBRE" class="form-control"/>
        </div>
        <div class="form-group col-md-6">
          <label>Tipo actividad</label>
          <select class="form-control" name="actividad"  #actividad="ngModel" [(ngModel)]="activity.TIPO_ACTIVIDAD" required>
            <option value="acuatica" selected>Acuática</option>
            <option value="aerobica">Aeróbica</option>
            <option value="coreografiada">Coreografiada</option>
            <option value="cuerpo_mente">Cuerpo y Mente</option>
            <option value="infantil">Infantil</option>
            <option value="exterior">Exterior</option>

          </select>
        </div>

      </div>
      <div class="form-row">
      <div class="form-group col-md-6">
          <label>Día de la semana</label>
          <select class="form-control" name="dia"  #dia="ngModel" [(ngModel)]="activity.DIA_SEMANA" required>
            <option value="lunes" selected>Lunes</option>
            <option value="martes">Martes</option>
            <option value="miercoles">Miercoles</option>
            <option value="jueves">Jueves</option>
            <option value="viernes">Viernes</option>
            <option value="sabado">Sábado</option>
            <option value="domingo">Domingo</option>

          </select>
      </div>

      <div class="form-group col-md-6">
          <label>Hora comienzo</label>
          <input type="time" name="nombre" #nombre="ngModel" placeholder="Hora de comienzo" [(ngModel)]="activity.HORA_INICIO" class="form-control" required/>
      </div>
    </div>
          <div class="form-row">
      <div class="form-group col-md-6">
          <label>Tecnico</label>
          <select class="form-control" name="tecnico"  #tecnico="ngModel" [(ngModel)]="activity.ID_TECNICO" required>
            <ng-container *ngFor="let staff of staffs">

            <option value="{{staff.ID_TECNICO}}">{{staff.NOMBRE}}</option>

            </ng-container>

          </select>
              </div>

      <div class="form-group col-md-6">
          <label>Sala</label>
          <select class="form-control" name="sala"  #sala="ngModel" [(ngModel)]="activity.ID_SALA" required>
<option *ngFor="let room of rooms" value="{{room.ID_PLAN}}">{{room.NOMBRE}}</option>
          </select>
              </div>
    </div>
      <input type="submit" class="btn btn-success" value="{{title}}" [disabled]="!formAdd.form.valid" />
    </form>
  </div>
