<h3>{{title}}</h3>

<div class="offset-lg-1 col-lg-8 mt-3">
  <div class="alert alert-success" *ngIf="status == 'success'">
    Actividad creada con éxito.
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Fallo en la creación de la Actividad.
  </div>
  <form #formAdd="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nombre</label>
        <input type="text" name="nombre" #nombre="ngModel" placeholder="Nombre de la actividad" [(ngModel)]="activity.NOMBRE" class="form-control"/>
      </div>
      <div class="form-group col-md-6">
        <label>Tipo actividad</label>
        <select class="form-control" name="actividad"  #actividad="ngModel" [(ngModel)]="activity.TIPO_ACTIVIDAD" required>
          <option value="acuática" selected>Acuática</option>
          <option value="aeróbica">Aeróbica</option>
          <option value="coreografiada">Coreografiada</option>
          <option value="cuerpo y mente">Cuerpo y Mente</option>
          <option value="infantil">Infantil</option>
          <option value="exterior">Exterior</option>

        </select>
      </div>

    </div>

    <input type="submit" class="btn btn-success" value="{{title}}" [disabled]="!formAdd.form.valid" />
  </form>
</div>
